{% with detalles=log.detalles %}
<div class="border-l-4 border-gray-400 pl-4 py-1">
    
    <span class="font-semibold text-gray-800">
         {{ log.tipo_accion }}
    </span>
    
    <div class="ml-2 mt-1">
        
        {% if log.tipo_accion == 'CREACION_VENTA' %}
            {% if detalles.productos_vendidos %}
                    <p class="font-medium text-xs text-blue-700 mb-1">Ítems Registrados:</p>
            <table class="w-full text-left bg-white border border-gray-300 rounded overflow-hidden">
                <thead>
                    <tr class="bg-gray-100 text-gray-600 uppercase text-xs">
                        <th class="py-2 px-2 ">Id</th>
                        <th class="py-2 px-2">Producto</th>
                        <th class="py-2 px-2 text-right">Cantidad</th>
                        <th class="py-2 px-2 text-right">Precio Unitario</th>
                        <th class="py-2 px-2 text-right">Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    {# Iterar sobre la lista de ítems de la venta #}
                    {% for item in detalles.productos_vendidos %}
                    <tr class="border-t border-gray-200 hover:bg-gray-50">
                        <td class="py-1 px-2 text-gray-800 font-medium">{{ item.producto_id }} </td>
                        <td class="py-1 px-2 text-gray-800 font-medium">{{ item.nombre }} </td>
                        <td class="py-1 px-2 text-right text-gray-700">{{ item.cantidad|floatformat }}</td>
                        <td class="py-1 px-2 text-right text-gray-600">${{ item.precio_unitario }}</td>
                        <td class="py-1 px-2 text-right font-bold text-gray-900">${{ item.subtotal }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
                {% else %}
                    <p class="text-sm italic text-gray-500 mt-2">Actualización registrada sin cambios detectados.</p>
                {% endif %}
        {% elif log.tipo_accion == 'FINALIZACION_COBRO' %}
        
        <table class="w-full text-left border border-gray-200">
            <tr class="bg-gray-100 text-gray-600 uppercase text-xs">
                <th class="py-1 px-2">ID Venta</th>
                <th class="py-1 px-2">Monto Total</th>
                <th class="py-1 px-2">Estado Anterior</th>
                <th class="py-1 px-2">Nuevo Estado</th>
            </tr>
            <tr>
                <td class="py-1 px-2 text-gray-800 font-medium">{{ log.entidad_id }}</td>
                <td class="py-1 px-2 font-bold text-green-700">${{ detalles.monto_total }}</td>
                <td class="py-1 px-2 text-gray-500">{{ detalles.estado_anterior }}</td>
                <td class="py-1 px-2 font-bold text-cyan-700">{{ detalles.estado_nuevo }}</td>
            </tr>
        </table>
        {% elif log.tipo_accion == 'ANULACION_VENTA' %}
        <div class="p-2 border border-300 rounded-md bg-100">
                {% if detalles.productos_anulados %}
                    <p class="font-medium text-xs text-blue-700 mb-1">Ítems Anulados:</p>
                    <table class="w-full text-left bg-white border border-gray-300 rounded overflow-hidden">
                        <thead>
                            <tr class="bg-gray-100 text-gray-600 uppercase text-xs">
                                <th class="py-2 px-2 ">Id</th>
                                <th class="py-2 px-2">Producto</th>
                                <th class="py-2 px-2 text-right">Cantidad</th>
                                <th class="py-2 px-2 text-right">Precio Unitario</th>
                                <th class="py-2 px-2 text-right">Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            {# Iterar sobre la lista de ítems de la venta #}
                            {% for item in detalles.productos_anulados %}
                            <tr class="border-t border-gray-200 hover:bg-gray-50">
                                <td class="py-1 px-2 text-gray-800 font-medium">{{ item.producto_id }} </td>
                                <td class="py-1 px-2 text-gray-800 font-medium">{{ item.nombre }} </td>
                                <td class="py-1 px-2 text-right text-gray-700">{{ item.cantidad_revertida|floatformat }}</td>
                                <td class="py-1 px-2 text-right text-gray-600">${{ item.precio_unitario }}</td>
                                <td class="py-1 px-2 text-right font-bold text-gray-900">${{ item.subtotal_original }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="text-sm italic text-gray-500 mt-2">Actualización registrada sin cambios detectados.</p>
                {% endif %}
        {% else %}
            <span class="text-sm text-gray-600">Sin descripción específica.</span>
        {% endif %}
    </div>
    </div> <p class="text-xs italic mt-1 text-gray-500">
        Registrado por <strong>{{ log.usuario.username }}</strong>. (ID: {{ log.usuario.pk }})
    </p>
</div>
{% endwith %}