{% with detalles=log.detalles %}
<div class="border-l-4 border-gray-400 pl-4 py-1">
    
    <span class="font-semibold text-gray-800">
         {{ log.tipo_accion }}
    </span>
    
    <div class="ml-2 mt-1">
        
        {% if log.tipo_accion == 'CREACION' %}
            <div class="p-2 border border-300 rounded-md bg-100">
            
            <table class="w-full text-left bg-white border border-gray-300 rounded overflow-hidden">
                <thead>
                    <tr class="bg-gray-100 text-gray-600 uppercase text-xs">
                                <th class="py-2 px-2 ">Id</th>
                                <th class="py-2 px-2 ">Sku</th>
                                <th class="py-2 px-2">Producto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="border-t border-gray-200 hover:bg-gray-50">
                            <td class="py-1 px-2 text-gray-800 font-medium">{{ detalles.id_producto }} </td>
                            <td class="py-1 px-2 text-gray-800 font-medium">{{ detalles.sku }} </td>
                            <td class="py-1 px-2 text-gray-800 font-medium">{{ detalles.nombre_producto }}</td>
                    </tr>
                </tbody>
            </table>       
            </div>
                     
        {% elif log.tipo_accion == 'ACTUALIZACION' %}
            <div class="p-2 border border-300 rounded-md bg-100">
            
            <p class="font-semibold text-blue-800">
                Producto actualizados
            </p>
            <table class="w-full text-left bg-white border border-gray-300 rounded overflow-hidden">
                <thead>
                    <tr class="bg-gray-100 text-gray-600 uppercase text-xs">
                                <th class="py-2 px-2 ">Id</th>
                                <th class="py-2 px-2 ">Sku</th>
                                <th class="py-2 px-2">Producto</th>
                                <th class="py-2 px-2 text-right">Cambios registrados</th>
                    </tr>
                </thead>
                <tbody>
                            
                    <tr class="border-t border-gray-200 hover:bg-gray-50">
                            <td class="py-1 px-2 text-gray-800 font-medium">{{ detalles.id_producto }} </td>
                            <td class="py-1 px-2 text-gray-800 font-medium">{{ detalles.sku }} </td>
                            <td class="py-1 px-2 text-right text-gray-700">{{ detalles.nombre_producto }}</td>
                            {% for prod in detalles.cambios_registrados %}
                            <td class="py-1 px-2 text-right text-gray-600">{{ prod.cambios_registrados.anterior }}</td>
                            {% enfor %}
                    </tr>
                        
                </tbody>
            </table>       
        </div>
            
        {% elif log.tipo_accion == 'ACTIVACION' %}
            <div class="p-2 border border-green-300 rounded-md bg-green-100">
                <p class="font-bold text-green-800">
                    Producto Activado: <span class="text-lg">{{ detalles.nombre_producto }}</span>
                </p>
                <ul class="text-sm text-gray-700 list-disc list-inside mt-1 ml-2">
                    <li>
                        <span class="font-medium">Cambio de Estado:</span> {{ detalles.estado_anterior }} → 
                        <span class="font-bold text-green-700">{{ detalles.estado_nuevo }}</span>
                    </li>
                </ul>
            </div>
            
        {% elif log.tipo_accion == 'ELIMINACION' %}
            <div class="p-2 border border-red-300 rounded-md bg-red-100">
                <p class="font-bold text-red-800">
                    Producto Desactivado: <span class="text-lg">{{ detalles.nombre_producto }}</span>
                </p>
                 <ul class="text-sm text-gray-700 list-disc list-inside mt-1 ml-2">
                    <li>
                        <span class="font-medium">Detalle:</span> {{ detalles.estado_anterior }} → 
                        <span class="font-bold text-red-700">{{ detalles.estado_nuevo }}</span>
                    </li>
                </ul>
            </div>
            
        {% elif log.tipo_accion == 'ENTRADA' or log.tipo_accion == 'SALIDA' or log.tipo_accion == 'AJUSTE' or log.tipo_accion == 'MERMA' %}
        <div class="p-2 border border-300 rounded-md bg-100">
            
            <p class="font-semibold text-yellow-800">
                Movimiento de Stock Registrado
            </p>
            <table class="w-full text-left bg-white border border-gray-300 rounded overflow-hidden">
                <thead>
                    <tr class="bg-gray-100 text-gray-600 uppercase text-xs">
                                <th class="py-2 px-2 ">Id</th>
                                <th class="py-2 px-2">Producto</th>
                                <th class="py-2 px-2 text-right">Cantidad movida</th>
                                <th class="py-2 px-2 text-right">Comentario</th>
                    </tr>
                </thead>
                <tbody>
                            
                    <tr class="border-t border-gray-200 hover:bg-gray-50">
                            <td class="py-1 px-2 text-gray-800 font-medium">{{ detalles.producto_afectado_id }} </td>
                            <td class="py-1 px-2 text-gray-800 font-medium">{{ detalles.producto_nombre }} </td>
                            <td class="py-1 px-2 text-right text-gray-700">{{ detalles.cantidad_movida|floatformat }}</td>
                            <td class="py-1 px-2 text-right text-gray-600">{{ detalles.comentario_registro }}</td>
                    </tr>
                        
                </tbody>
            </table>       
        </div>
        {% elif log.tipo_accion == 'MERMA' %}
            <div class="p-2 border border-300 rounded-md bg-100">
            
                <p class="font-semibold text-yellow-800">
                    Movimiento de Stock Registrado
                </p>
                <table class="w-full text-left bg-white border border-gray-300 rounded overflow-hidden">
                    <thead>
                        <tr class="bg-gray-100 text-gray-600 uppercase text-xs">
                                    <th class="py-2 px-2 ">Id</th>
                                    <th class="py-2 px-2">Producto</th>
                                    <th class="py-2 px-2 text-right">Cantidad movida</th>
                                    <th class="py-2 px-2 text-right">Comentario</th>
                        </tr>
                    </thead>
                    <tbody>
                                
                        <tr class="border-t border-gray-200 hover:bg-gray-50">
                                <td class="py-1 px-2 text-gray-800 font-medium">{{ detalles.producto_afectado_id }} </td>
                                <td class="py-1 px-2 text-gray-800 font-medium">{{ detalles.producto_nombre }} </td>
                                <td class="py-1 px-2 text-right text-gray-700">{{ detalles.cantidad_movida|floatformat }}</td>
                                <td class="py-1 px-2 text-right text-gray-600">{{ detalles.comentario_registro }}</td>
                        </tr>
                            
                    </tbody>
                </table>       
            </div>
        {% else %}
            <span class="text-sm text-gray-600">Sin descripción específica.</span>
        {% endif %}
    </div> <p class="text-xs italic mt-1 text-gray-500">
        Registrado por <strong>{{ log.usuario.username }}</strong>. (ID Producto: {{ log.entidad_id }})
    </p>
</div>
{% endwith %}