{% with detalles=log.detalles %}
<div class="border-l-4 border-gray-400 pl-4 py-1">
    
    <span class="font-semibold text-gray-800">
         {{ log.tipo_accion }}
    </span>
    
    <div class="ml-2 mt-1">
        
        {% if log.tipo_accion == 'LOGIN' %}
            <span class="text-sm text-gray-600">{{ log.accion }}</span>
            
        {% elif log.tipo_accion == 'ACTUALIZACION' %}
            <div class="p-2 border border-blue-200 rounded-md bg-blue-50">
                <p class="font-semibold text-blue-700">
                    Producto actualizado: <span class="text-lg font-bold">{{ detalles.nombre_producto }}</span>
                </p>

                {% if detalles.cambios_registrados %}
                    <p class="text-sm text-blue-600 mt-2 mb-1 font-medium">Detalles de los cambios:</p>
                    <ul class="text-sm text-gray-700 list-disc list-inside ml-4">
                        {% for campo, cambio in detalles.cambios_registrados.items %}
                            <li class="my-1">
                                <span class="font-bold capitalize">{{ campo }}:</span> <span class="text-gray-500 line-through mr-1">{{ cambio.anterior }}</span>
                                <span class="text-blue-500 mr-1">→</span>
                                <span class="font-semibold text-blue-700">{{ cambio.nuevo }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="text-sm italic text-gray-500 mt-2">Actualización registrada sin cambios detectados.</p>
                {% endif %}
            </div>
            
        {% elif log.tipo_accion == 'ACTIVACION' %}
            <div class="p-2 border border-green-300 rounded-md bg-green-100">
                <p class="font-bold text-green-800">
                    Producto Activado: <span class="text-lg">{{ detalles.nombre_producto }}</span>
                </p>
                <ul class="text-sm text-gray-700 list-disc list-inside mt-1 ml-2">
                    <li>
                        <span class="font-medium">Cambio de Estado:</span> {{ detalles.estado_anterior }} → 
                        <span class="font-bold text-green-700">{{ detalles.estado_nuevo }}</span>
                    </li>
                </ul>
            </div>
            
        {% elif log.tipo_accion == 'ELIMINACION' %}
            <div class="p-2 border border-red-300 rounded-md bg-red-100">
                <p class="font-bold text-red-800">
                    Producto Desactivado: <span class="text-lg">{{ detalles.nombre_producto }}</span>
                </p>
                 <ul class="text-sm text-gray-700 list-disc list-inside mt-1 ml-2">
                    <li>
                        <span class="font-medium">Detalle:</span> {{ detalles.estado_anterior }} → 
                        <span class="font-bold text-red-700">{{ detalles.estado_nuevo }}</span>
                    </li>
                </ul>
            </div>
            
        {% elif log.tipo_accion == 'Entrada (compra, devolución)' or log.tipo_accion == 'Salida (venta manual, uso interno)' or log.tipo_accion == 'Ajuste (conteo inventario)'%}
            <div class="p-2 border border-yellow-300 rounded-md bg-yellow-100">
            
            <p class="font-semibold text-yellow-800">
                📦 Movimiento de Stock Registrado
            </p>

            <ul class="text-sm text-gray-700 list-disc list-inside mt-1 ml-2">
                <li>
                    <span class="font-medium">Producto:</span> 
                    <span class="font-bold">{{ detalles.producto_nombre }}</span> (ID: {{ detalles.producto_afectado_id }})
                </li>
                <li class="mt-1">
                    <span class="font-medium">Tipo:</span> 
                    <span class="font-bold 
                        {% if 'ENTRADA' in detalles.tipo_movimiento %}text-green-600{% elif 'SALIDA' in detalles.tipo_movimiento %}text-red-600{% else %}text-gray-600{% endif %}"
                    >
                        {{ detalles.tipo_movimiento }}
                    </span>
                </li>
                <li>
                    <span class="font-medium">Cantidad:</span> 
                    <span class="text-lg font-extrabold 
                        {% if 'ENTRADA' in detalles.tipo_movimiento %}text-green-700{% elif 'SALIDA' in detalles.tipo_movimiento %}text-red-700{% else %}text-gray-700{% endif %}"
                    >
                        {{ detalles.cantidad_movida }} uds
                    </span>
                </li>
            </ul>
            
            {% if detalles.comentario_registro and detalles.comentario_registro != 'N/A' %}
                <blockquote class="text-xs italic mt-2 p-1 border-l-2 border-yellow-400 bg-yellow-50 text-gray-600">
                    Comentario: {{ detalles.comentario_registro }}
                </blockquote>
            {% endif %}
        </div>
        {% elif log.tipo_accion == 'Merma (rotura, pérdida)' %}
            <div class="p-2 border border-yellow-300 rounded-md bg-yellow-100">
            
            <p class="font-semibold text-yellow-800">
                📦 Movimiento de Merma
            </p>

            <ul class="text-sm text-gray-700 list-disc list-inside mt-1 ml-2">
                <li>
                    <span class="font-medium">Producto:</span> 
                    <span class="font-bold">{{ detalles.producto_nombre }}</span> (ID: {{ detalles.producto_afectado_id }})
                </li>
                <li class="mt-1">
                    <span class="font-medium">Tipo:</span> 
                    <span class="font-bold 
                        {% if 'ENTRADA' in detalles.tipo_movimiento %}text-green-600{% elif 'SALIDA' in detalles.tipo_movimiento %}text-red-600{% else %}text-gray-600{% endif %}"
                    >
                        {{ detalles.tipo_movimiento }}
                    </span>
                </li>
                <li>
                    <span class="font-medium">Cantidad:</span> 
                    <span class="text-lg font-extrabold 
                        {% if 'ENTRADA' in detalles.tipo_movimiento %}text-green-700{% elif 'SALIDA' in detalles.tipo_movimiento %}text-red-700{% else %}text-gray-700{% endif %}"
                    >
                        {{ detalles.cantidad_movida }} uds
                    </span>
                </li>
            </ul>
            
            {% if detalles.comentario_registro and detalles.comentario_registro != 'N/A' %}
                <blockquote class="text-xs italic mt-2 p-1 border-l-2 border-yellow-400 bg-yellow-50 text-gray-600">
                    Comentario: {{ detalles.comentario_registro }}
                </blockquote>
            {% endif %}
        </div>
        {% else %}
            <span class="text-sm text-gray-600">Sin descripción específica.</span>
        {% endif %}
    </div> 
</div>
{% endwith %}